<nav class="main-nav">
  <a href="{{ "/" | relative_url  }}">
    <h1 id="apex-title">APEX</h1>
    <h2 id="dpg">DIABOLO PERFORMANCE GROUP</h2>
  </a>
  <h3 class="nav-link">
    <a class="no-decoration" href="https://youtube.com/@apex.diabolo" target="blank">
      <i class="fab fa-youtube" aria-hidden="true"></i>
    </a>
  </h3>

  <h3 class="nav-link">
    <a class="no-decoration" href="https://fb.me/apex.diabolo" target="blank">
      <i class="fab fa-facebook-square" aria-hidden="true"></i>
    </a>
  </h3>

  <h3 class="nav-link">
    <a class="no-decoration" href="https://instagr.am/apex.diabolo" target="blank">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
  </h3>

  <h3 class="nav-link">
    <a class="no-decoration" href="https://www.tiktok.com/@apex.diabolo" target="blank">
      <i class="fab fa-tiktok" aria-hidden="true"></i>
    </a>
  </h3>

  <h3 class="nav-link">
    <a class="no-decoration" href="mailto:apex.diabolo@gmail.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </h3>
</nav>
